<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILogic" />
        <binding name="MetadataExchangeNamedPipeBinding_ILogic">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILogic" />
        <binding name="MetadataExchangeTcpBinding_ILogic">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ILogic">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/RemoteExecute/tcp" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ILogic" contract="ILogic"
          name="NetTcpBinding_ILogic">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/RemoteExecute/pipe" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_ILogic" contract="ILogic"
          name="NetNamedPipeBinding_ILogic">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/RemoteExecute/mex" binding="netTcpBinding"
          bindingConfiguration="MetadataExchangeTcpBinding_ILogic" contract="ILogic"
          name="MetadataExchangeTcpBinding_ILogic">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/RemoteExecute/mex" binding="wsHttpBinding"
          bindingConfiguration="MetadataExchangeHttpBinding_ILogic"
          contract="ILogic" name="MetadataExchangeHttpBinding_ILogic">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/RemoteExecute/mex" binding="netNamedPipeBinding"
          bindingConfiguration="MetadataExchangeNamedPipeBinding_ILogic"
          contract="ILogic" name="MetadataExchangeNamedPipeBinding_ILogic">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
